{% extends 'base.twig' %}
{% block content %}
    <div class="container text-center mt-4">
        <div class="row justify-content-md-center">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ИНН</th>
                    <th scope="col">Имя</th>
                </tr>
                </thead>
                <tbody class="tableBody">
                {% for d in data %}
                    <tr>
                        <th scope="row">
                            <a href="http://127.0.0.1/debtor/{{ d.inn }}" target="_blank">{{ d.inn }}
                            </a></th>
                        <td>{{ d.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}