{% extends 'base.twig' %}
{% block title %} Mess {% endblock %}
{% block content %}
    <h2 style="text-align: center">Mess</h2>
    <div class="container text-center mt-4">
        <div class="row justify-content-md-center">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">url</th>
                    <th scope="col">debtor_id</th>
                </tr>
                </thead>
                <tbody class="tableBody">
                {% for d in data %}
                    <tr>
                        <th scope="row">
                            <a href="http://parserui.loc/messes/mess/{{ d.url }}" target="_blank">{{ d.url }}
                            </a></th>
                        <td>{{ d.debtor_id }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}